/* import font from google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg , #EEE2DE , #e2cdc5 );
    height: 100%;
}

h2{
    font-size: 3vw;
    margin: 0 1vw;
    color: #B31312;
    text-transform: capitalize;
}

/* Tnajm tna7eha */
h2:hover{
    font-style: italic;
}

p{
    font-size: 1.4vw;
    text-indent: 4vw;
    color: #2B2A4C;

}

/* El zouz moch wa7da bark */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 76vw;
    max-height: 25vw;
    margin: 1.5vw auto;
    background-color: #fff;
    padding: 1.5vw;
    border-radius: 1.2vw;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.3);
    gap: 2vw;
    overflow: auto;
}

.container.reverse {
    flex-direction: row-reverse;
}

img {
    width: 20vw;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

.content {
    flex: 1;
    font-size: 1.2vw;
}

.title {
    font-size: 1.8vw;
    font-weight: 800;
    color: red;
    background-color: beige;
    padding: 1vw;
    border-radius: 1vw;
    text-align: center;
    margin-bottom: 1vw;
    box-shadow: 0 0 0.5vw black;
}


#Special-words{
    text-decoration: underline;
    color: green;
}